body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(219, 168, 171);
}
button {
  margin-top: 20vh;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: #f79b12;
  color: rgb(5, 116, 11);
  border: none;
  padding: 0.75rem;
}
.container {
  height: 350px;
  width: 25%;
  border: 2px solid black;
  overflow-x: auto;
  padding: 2rem;
  background-color: rgb(187, 168, 230);
  font-size: 1.2rem;
  line-height: 2rem;
}
.hide {
  display: none;
}
